<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/signin.css" rel="stylesheet">

    <title>register</title>
</head>
<body>
<div class="signin">
    <form class="form-signin" role="form" action="register" method="post">
        <input type="text" class="form-control" placeholder="用户名" name="uname" required autofocus />
        <input type="password" class="form-control" name="upassword" placeholder="密码" required  />
        <input type="password" class="form-control" placeholder="确认密码" required />
        <button class="btn btn-lg btn-warning btn-block" class="register">注册</button>
    </form>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/js/bootstrap.js"></script>
<script>
    $('.register').click(function () {
        //通过serialize()方法进行序列化表单值，创建文本字符串。
        var data = $("form").serialize();
        //例如："username=张三&password=12345"
        $.ajax({
            url:'/register',
            type:'POST',
            data:data,
            success:function(data,status){
                console.log(status);
                if(status == 'success'){
                    location.href='login';
                }
            },
            error:function(res,err){
                location.href='register';
            }
        });
    });
</script>
</body>
</html>